header{
       height: 20vh; 
}

header > .interface{ 
       /* Faz com que ele faça essa configuração 
       somente no .inteface dentro do header*/
       display: flex;
       align-items: center;
       justify-content: space-between;
}

button{
       padding: 10px 40px;
       font-size: 18px;
       font-weight: 600;
       background-color: #fff;
       border-color: var(--azul);
       border-radius: 30px;
       cursor: pointer;
       
}

a {
       color: var(--azul);
       text-decoration: none;
       display: inline-block;
       transition: .2s;
}

header a {
       color: var(--azul);
       text-decoration: none;
       display: inline-block;
       transition: .2s;
}

header a:hover {
       font-weight: 600;
       transform: scale(1.1);
}

header nav ul {
       list-style-type: none;
}

header nav ul li{
       display: inline-block;
       padding: 2em;
}

header .repositorio button{
       padding: 10px 40px;
       font-size: 18px;
       font-weight: 600;
       background-color: #fff;
       border-color: var(--azul);
       border-radius: 30px;
       cursor: pointer;
       
}

header .repositorio button a{
       color: var(--cor-base);
}